@model Dictionary<string, string>
@{
    ViewData["Title"] = "Default";
}

<!-- Footer start -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col info_col">
                <p>2015 @Model["Link"] | All Right Reserved | Terms | Policies | Licenses</p>
            </div>
        </div>

    </div>
</footer>
<!-- Footer end -->
